/* src/styles/settings.scss */

/* 1. Cambiamos la variable que usa Vuetify */
:root {
  --v-font-family: 'Fredoka', sans-serif !important;
}

/* 2. Forzamos a CUALQUIER cosa que use texto en Vuetify */
.v-application {
  font-family: 'Fredoka', sans-serif !important;

  /* Atacamos a los títulos, botones y clases de tipografía */
  .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6,
  .text-subtitle-1, .text-subtitle-2, .text-body-1, .text-body-2,
  .v-btn, .v-card-title, .v-list-item-title, span, p, div {
    font-family: 'Fredoka', sans-serif !important;
  }
}